In [1]:
import pandas as pd 
import glob 

files = glob.glob('*.pkl')
len(files)

7

In [2]:
print(files)

['sessions.pkl', 'weather.pkl', 'laps.pkl', 'stints.pkl', 'meetings.pkl', 'pit.pkl', 'car_data.pkl']

In [3]:
for file in files:
    print(file, pd.read_pickle(file).columns.tolist())

sessions.pkl ['location', 'country_key', 'country_code', 'country_name', 'circuit_key', 'circuit_short_name', 'session_type', 'session_name', 'date_start', 'date_end', 'gmt_offset', 'session_key', 'meeting_key', 'year']
weather.pkl ['air_temperature', 'humidity', 'pressure', 'rainfall', 'track_temperature', 'wind_direction', 'wind_speed', 'date', 'session_key', 'meeting_key']
laps.pkl ['location', 'country_key', 'country_code', 'country_name', 'circuit_key', 'circuit_short_name', 'session_type', 'session_name', 'date_start', 'date_end', 'gmt_offset', 'session_key', 'meeting_key', 'year']
stints.pkl ['meeting_key', 'session_key', 'stint_number', 'driver_number', 'lap_start', 'lap_end', 'compound', 'tyre_age_at_start']
meetings.pkl ['meeting_name', 'meeting_official_name', 'location', 'country_key', 'country_code', 'country_name', 'circuit_key', 'circuit_short_name', 'date_start', 'gmt_offset', 'meeting_key', 'year', 'meeting_code']
pit.pkl ['pit_duration', 'lap_number', 'driver_number', 'date', 'session_key', 'meeting_key']
car_data.pkl ['pit_duration', 'lap_number', 'driver_number', 'date', 'session_key', 'meeting_key']

In [4]:
sessions = pd.read_pickle('sessions.pkl')
sessions['date_start'] = pd.to_datetime(sessions['date_start'])
sessions['date_end'] = pd.to_datetime(sessions['date_end'])
sessions['duration'] = sessions['date_end'] - sessions['date_start']
sessions[['date_start', 'date_end', 'duration']].head(), sessions.duration.max(), sessions.duration.min()
# max session duration is 9:30 , so we don't need to worry about weather for multiple days

(                 date_start                  date_end        duration
 0 2023-02-23 07:00:00+00:00 2023-02-23 16:30:00+00:00 0 days 09:30:00
 1 2023-02-24 07:00:00+00:00 2023-02-24 16:30:00+00:00 0 days 09:30:00
 2 2023-02-25 07:00:00+00:00 2023-02-25 16:30:00+00:00 0 days 09:30:00
 3 2023-03-03 11:30:00+00:00 2023-03-03 12:30:00+00:00 0 days 01:00:00
 4 2023-03-03 15:00:00+00:00 2023-03-03 16:00:00+00:00 0 days 01:00:00,
 Timedelta('0 days 09:30:00'),
 Timedelta('0 days 00:30:00'))

In [5]:
sessions

,location,country_key,country_code,country_name,circuit_key,circuit_short_name,session_type,session_name,date_start,date_end,gmt_offset,session_key,meeting_key,year,duration
0,Sakhir,36,BRN,Bahrain,63,Sakhir,Practice,Practice 1,2023-02-23 07:00:00+00:00,2023-02-23 16:30:00+00:00,03:00:00,9222,1140,2023,0 days 09:30:00
1,Sakhir,36,BRN,Bahrain,63,Sakhir,Practice,Practice 2,2023-02-24 07:00:00+00:00,2023-02-24 16:30:00+00:00,03:00:00,7763,1140,2023,0 days 09:30:00
2,Sakhir,36,BRN,Bahrain,63,Sakhir,Practice,Practice 3,2023-02-25 07:00:00+00:00,2023-02-25 16:30:00+00:00,03:00:00,7764,1140,2023,0 days 09:30:00
3,Sakhir,36,BRN,Bahrain,63,Sakhir,Practice,Practice 1,2023-03-03 11:30:00+00:00,2023-03-03 12:30:00+00:00,03:00:00,7765,1141,2023,0 days 01:00:00
4,Sakhir,36,BRN,Bahrain,63,Sakhir,Practice,Practice 2,2023-03-03 15:00:00+00:00,2023-03-03 16:00:00+00:00,03:00:00,7766,1141,2023,0 days 01:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,Mexico City,8,MEX,Mexico,65,Mexico City,Practice,Practice 1,2024-10-25 18:30:00+00:00,2024-10-25 19:30:00+00:00,-06:00:00,9618,1248,2024,0 days 01:00:00
208,Mexico City,8,MEX,Mexico,65,Mexico City,Practice,Practice 2,2024-10-25 22:00:00+00:00,2024-10-25 23:00:00+00:00,-06:00:00,9619,1248,2024,0 days 01:00:00
209,Mexico City,8,MEX,Mexico,65,Mexico City,Practice,Practice 3,2024-10-26 17:30:00+00:00,2024-10-26 18:30:00+00:00,-06:00:00,9620,1248,2024,0 days 01:00:00
210,Mexico City,8,MEX,Mexico,65,Mexico City,Qualifying,Qualifying,2024-10-26 21:00:00+00:00,2024-10-26 22:00:00+00:00,-06:00:00,9621,1248,2024,0 days 01:00:00
211,Mexico City,8,MEX,Mexico,65,Mexico City,Race,Race,2024-10-27 20:00:00+00:00,2024-10-27 22:00:00+00:00,-06:00:00,9625,1248,2024,0 days 02:00:00

In [6]:
stints = pd.read_pickle('stints.pkl')
print(len(stints), len(stints['session_key'].unique()), len(stints['meeting_key'].unique()))
stints.head()

16210 212 43

,meeting_key,session_key,stint_number,driver_number,lap_start,lap_end,compound,tyre_age_at_start
0,1140,7763,1,4.0,1,1,MEDIUM,7.0
1,1140,7763,1,20.0,1,1,MEDIUM,10.0
2,1140,7763,1,2.0,1,2,SOFT,15.0
3,1140,7763,1,24.0,1,2,MEDIUM,10.0
4,1140,7763,1,14.0,1,2,MEDIUM,0.0

In [8]:
# Group by session_key and meeting_key and calculate min, max, and mean for the specified columns
weather = pd.read_pickle('weather.pkl')
weather['date'] = pd.to_datetime(weather['date'], format='mixed')
weather['day'] = weather['date'].dt.date
weather_summary = weather.groupby(['session_key', 'meeting_key', 'day']).agg({
    'air_temperature': ['min', 'max', 'mean'],
    'humidity': ['min', 'max', 'mean'],
    'pressure': ['min', 'max', 'mean'],
    'rainfall': ['min', 'max', 'mean'],
    'track_temperature': ['min', 'max', 'mean'],
    'wind_direction': ['min', 'max', 'mean'],
    'wind_speed': ['min', 'max', 'mean']
}).reset_index()

# Display the summary
weather_summary.head()

  session_key meeting_key         day air_temperature                   \
                                                  min   max       mean
0        7763        1140  2023-02-24            22.9  31.5  26.835254
1        7764        1140  2023-02-25            24.0  29.2  26.641997
2        7765        1141  2023-03-03            26.3  27.6  26.989286
3        7766        1141  2023-03-03            22.1  23.6  22.872941
4        7767        1141  2023-03-04            27.6  28.5  28.000000

  humidity                  pressure  ... rainfall track_temperature        \
       min   max       mean      min  ...     mean               min   max
0      9.0  54.0  26.076271   1008.5  ...      0.0              27.1  44.0
1     25.0  72.0  42.820998   1012.0  ...      0.0              26.8  44.2
2     11.0  14.0  12.261905   1017.2  ...      0.0              37.8  42.7
3     20.0  29.0  23.317647   1018.0  ...      0.0              25.7  28.5
4     14.0  26.0  19.895349   1016.9  ...      0.0              38.8  42.0

             wind_direction                  wind_speed
        mean            min  max        mean        min  max      mean
0  36.444915              0  359  215.825424        0.0  5.5  2.091695
1  36.384682              0  358  242.635112        0.0  2.7  1.154217
2  40.482143              0  359  300.095238        1.7  3.5  2.579762
3  26.972941              0  358  244.058824        0.3  2.0  1.082353
4  40.570930              0  357  299.639535        0.6  3.5  1.777907

[5 rows x 24 columns]

In [9]:
weather_summary.columns = list(map(lambda x : '_'.join(x) if len(x[1])>=1 else x[0], weather_summary.columns))

In [10]:
# Display the flattened dataframe
weather_summary.head()

,session_key,meeting_key,day,air_temperature_min,air_temperature_max,air_temperature_mean,humidity_min,humidity_max,humidity_mean,pressure_min,...,rainfall_mean,track_temperature_min,track_temperature_max,track_temperature_mean,wind_direction_min,wind_direction_max,wind_direction_mean,wind_speed_min,wind_speed_max,wind_speed_mean
0,7763,1140,2023-02-24,22.9,31.5,26.835254,9.0,54.0,26.076271,1008.5,...,0.0,27.1,44.0,36.444915,0,359,215.825424,0.0,5.5,2.091695
1,7764,1140,2023-02-25,24.0,29.2,26.641997,25.0,72.0,42.820998,1012.0,...,0.0,26.8,44.2,36.384682,0,358,242.635112,0.0,2.7,1.154217
2,7765,1141,2023-03-03,26.3,27.6,26.989286,11.0,14.0,12.261905,1017.2,...,0.0,37.8,42.7,40.482143,0,359,300.095238,1.7,3.5,2.579762
3,7766,1141,2023-03-03,22.1,23.6,22.872941,20.0,29.0,23.317647,1018.0,...,0.0,25.7,28.5,26.972941,0,358,244.058824,0.3,2.0,1.082353
4,7767,1141,2023-03-04,27.6,28.5,28.000000,14.0,26.0,19.895349,1016.9,...,0.0,38.8,42.0,40.570930,0,357,299.639535,0.6,3.5,1.777907

In [11]:
# weather_summary.to_csv('weather_summary.csv', index=False)

In [12]:
len(sessions[['meeting_key', 'session_key', 'session_type']]), len(sessions[['meeting_key', 'session_key', 'session_type']].drop_duplicates())

(212, 212)

In [13]:
dfm = pd.merge(stints, weather_summary, on=['session_key', 'meeting_key'], how='inner')
dfmm = pd.merge(dfm, sessions, on=['session_key', 'meeting_key'], how='inner')

len(dfmm[['meeting_key', 'session_key']].drop_duplicates()), len(dfmm[['meeting_key', 'session_key']].drop_duplicates())

(212, 212)

In [14]:
len(dfmm[['meeting_key', 'session_key', 'driver_number']].drop_duplicates()), len(dfmm[['meeting_key', 'session_key', 'driver_number', 'stint_number']].drop_duplicates())

(4219, 16210)

In [24]:
dfmm.loc[dfmm[['meeting_key', 'session_key', 'driver_number', 'stint_number']].duplicated(keep=False)].sort_values(by=['meeting_key', 'session_key', 'driver_number', 'stint_number']).to_csv(f'check.csv', index=False)

In [26]:
dfmf = dfmm.drop_duplicates(subset=['meeting_key', 'session_key', 'driver_number', 'stint_number'], inplace=False)
dfmm.shape, dfmf.shape

((16351, 43), (16210, 43))

In [39]:
dfmf[['meeting_key', 'session_key', 'day']].drop_duplicates().shape, dfmf[['meeting_key', 'session_key', 'day']].shape

((212, 3), (16210, 3))

In [32]:
dfmf.to_parquet(f'classification-data.parquet')

In [42]:
dfm.head().to_csv('weather_and_tyre_data.csv', index=False)

In [16]:
len(weather_summary), len(weather_summary['session_key'].unique()),

(214, 212, 43)

In [8]:
len(weather), len(stints)

(22532, 16210)

In [35]:
len(dfm)

16351

In [38]:
dfm['day'].nunique()#, len(dfm['session_key'].nunique()), len(dfm['meeting_key'].nunique())

129

In [42]:
classification_data_weather = dfmf[['meeting_key', 'session_key', 'compound', 'day', 'stint_number', 'compound']].drop_duplicates()

In [51]:
dfmf.columns.tolist()

['meeting_key',
 'session_key',
 'stint_number',
 'driver_number',
 'lap_start',
 'lap_end',
 'compound',
 'tyre_age_at_start',
 'day',
 'air_temperature_min',
 'air_temperature_max',
 'air_temperature_mean',
 'humidity_min',
 'humidity_max',
 'humidity_mean',
 'pressure_min',
 'pressure_max',
 'pressure_mean',
 'rainfall_min',
 'rainfall_max',
 'rainfall_mean',
 'track_temperature_min',
 'track_temperature_max',
 'track_temperature_mean',
 'wind_direction_min',
 'wind_direction_max',
 'wind_direction_mean',
 'wind_speed_min',
 'wind_speed_max',
 'wind_speed_mean',
 'location',
 'country_key',
 'country_code',
 'country_name',
 'circuit_key',
 'circuit_short_name',
 'session_type',
 'session_name',
 'date_start',
 'date_end',
 'gmt_offset',
 'year',
 'duration']

In [66]:
dfb =  dfmf[['meeting_key', 'session_key', 'compound', 'day', 'stint_number',
 'air_temperature_min',
 'air_temperature_max',
 'air_temperature_mean',
 'humidity_min',
 'humidity_max',
 'humidity_mean',
 'pressure_min',
 'pressure_max',
 'pressure_mean',
 'rainfall_min',
 'rainfall_max',
 'rainfall_mean',
 'track_temperature_min',
 'track_temperature_max',
 'track_temperature_mean',
 'wind_direction_min',
 'wind_direction_max',
 'wind_direction_mean',
 'wind_speed_min',
 'wind_speed_max',
 'wind_speed_mean',
]].drop_duplicates()
dfb = dfb[dfb.compound.isin(['SOFT', 'MEDIUM', 'HARD', 'INTERMEDIATE'])]
dfb.compound.value_counts()

compound
SOFT            949
MEDIUM          735
HARD            443
INTERMEDIATE    116
Name: count, dtype: int64

In [67]:
dfmf.columns.tolist()

['meeting_key',
 'session_key',
 'stint_number',
 'driver_number',
 'lap_start',
 'lap_end',
 'compound',
 'tyre_age_at_start',
 'day',
 'air_temperature_min',
 'air_temperature_max',
 'air_temperature_mean',
 'humidity_min',
 'humidity_max',
 'humidity_mean',
 'pressure_min',
 'pressure_max',
 'pressure_mean',
 'rainfall_min',
 'rainfall_max',
 'rainfall_mean',
 'track_temperature_min',
 'track_temperature_max',
 'track_temperature_mean',
 'wind_direction_min',
 'wind_direction_max',
 'wind_direction_mean',
 'wind_speed_min',
 'wind_speed_max',
 'wind_speed_mean',
 'location',
 'country_key',
 'country_code',
 'country_name',
 'circuit_key',
 'circuit_short_name',
 'session_type',
 'session_name',
 'date_start',
 'date_end',
 'gmt_offset',
 'year',
 'duration']

In [68]:
dfb.columns.tolist()

['meeting_key',
 'session_key',
 'compound',
 'day',
 'stint_number',
 'air_temperature_min',
 'air_temperature_max',
 'air_temperature_mean',
 'humidity_min',
 'humidity_max',
 'humidity_mean',
 'pressure_min',
 'pressure_max',
 'pressure_mean',
 'rainfall_min',
 'rainfall_max',
 'rainfall_mean',
 'track_temperature_min',
 'track_temperature_max',
 'track_temperature_mean',
 'wind_direction_min',
 'wind_direction_max',
 'wind_direction_mean',
 'wind_speed_min',
 'wind_speed_max',
 'wind_speed_mean']

In [70]:
dfb[features]

,air_temperature_min,air_temperature_max,air_temperature_mean,humidity_min,humidity_max,humidity_mean,pressure_min,pressure_max,pressure_mean,rainfall_min,rainfall_max,rainfall_mean,track_temperature_min,track_temperature_max,track_temperature_mean,wind_speed_min,wind_speed_max,wind_speed_mean
0,22.9,31.5,26.835254,9.0,54.0,26.076271,1008.5,1012.2,1009.909661,0,0,0.0,27.1,44.0,36.444915,0.0,5.5,2.091695
2,22.9,31.5,26.835254,9.0,54.0,26.076271,1008.5,1012.2,1009.909661,0,0,0.0,27.1,44.0,36.444915,0.0,5.5,2.091695
17,22.9,31.5,26.835254,9.0,54.0,26.076271,1008.5,1012.2,1009.909661,0,0,0.0,27.1,44.0,36.444915,0.0,5.5,2.091695
19,22.9,31.5,26.835254,9.0,54.0,26.076271,1008.5,1012.2,1009.909661,0,0,0.0,27.1,44.0,36.444915,0.0,5.5,2.091695
22,22.9,31.5,26.835254,9.0,54.0,26.076271,1008.5,1012.2,1009.909661,0,0,0.0,27.1,44.0,36.444915,0.0,5.5,2.091695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16330,18.0,21.2,19.888679,47.0,56.0,51.050314,784.4,786.5,785.252830,0,0,0.0,30.6,40.2,35.602516,0.6,4.2,2.150943
16331,18.0,21.2,19.888679,47.0,56.0,51.050314,784.4,786.5,785.252830,0,0,0.0,30.6,40.2,35.602516,0.6,4.2,2.150943
16343,18.0,21.2,19.888679,47.0,56.0,51.050314,784.4,786.5,785.252830,0,0,0.0,30.6,40.2,35.602516,0.6,4.2,2.150943
16348,18.0,21.2,19.888679,47.0,56.0,51.050314,784.4,786.5,785.252830,0,0,0.0,30.6,40.2,35.602516,0.6,4.2,2.150943
16349,18.0,21.2,19.888679,47.0,56.0,51.050314,784.4,786.5,785.252830,0,0,0.0,30.6,40.2,35.602516,0.6,4.2,2.150943

In [73]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

# Select relevant columns for the model
features = [ 'air_temperature_min',
 'air_temperature_max',
 'air_temperature_mean',
 'humidity_min',
 'humidity_max',
 'humidity_mean',
 'pressure_min',
 'pressure_max',
 'pressure_mean',
 
 'rainfall_min',
 'rainfall_max',
 'rainfall_mean',
 'track_temperature_min',
 'track_temperature_max',
 'track_temperature_mean',
 'wind_speed_min',
 'wind_speed_max',
 'wind_speed_mean',
]
X = dfb[features]
y = dfb['compound']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the model
clf.fit(X_train, y_train)

# Make predictions
y_pred = clf.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.35634743875278396
Classification Report:
               precision    recall  f1-score   support

        HARD       0.16      0.12      0.13        85
INTERMEDIATE       0.54      0.48      0.51        27
      MEDIUM       0.28      0.34      0.30       143
        SOFT       0.47      0.46      0.46       194

    accuracy                           0.36       449
   macro avg       0.36      0.35      0.35       449
weighted avg       0.35      0.36      0.35       449

In [61]:
%pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /Users/bhavi/Library/Python/3.9/lib/python/site-packages (1.5.2)
Requirement already satisfied: scipy>=1.6.0 in /Users/bhavi/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/bhavi/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: numpy>=1.19.5 in /Users/bhavi/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: joblib>=1.2.0 in /Users/bhavi/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.4.2)
WARNING: You are using pip version 21.2.4; however, version 24.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.